<div class="card">
  <div class="card-header">
    <div class="card-title">{{title}}</div>
    <mat-toolbar color="primary" class="my-header-bar">
      <button mat-raised-button color="primary" (click)="onClickGoBackButton()">
        <i class="material-icons">arrow_back</i>
      </button>
      <button  mat-raised-button color="green" (click)="onClickSaveButton()">
        <i class="material-icons">save</i>
      </button>
      <button mat-raised-button color="warn" (click)="onClickUndoButton()">
        <i class="material-icons">undo</i>
      </button>
    </mat-toolbar>
  </div>
  <div class="card-body">
  </div>
</div>
